@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}


body {
  font: 1.4rem Inconsolata, monospace;
  height: 100vh;
  background: linear-gradient(#222831a1, #222831a1), url(assets/img/Background.jpg) no-repeat center center / cover;
  background-size: auto;
  color: #EEEEEE;
  overflow: hidden;
  margin: 0;
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 120px;
  width: 150px;
}

p {
  text-shadow: 0 0 5px #C8C8C8;
}

.indent {
  visibility: hidden;
  margin-left: 30px;
  margin-bottom: 15px;
  color: #00adb5;
  text-shadow: 0 0 5px #00adb5;
  animation: show 800ms infinite normal;
  animation-delay: 13.3s;
}

.indent-last {
  visibility: hidden;
  margin-left: 30px;
  margin-bottom: 15px;
  color: #00adb5;
  text-shadow: 0 0 5px #00adb5;
  animation: show 800ms infinite normal;
  animation-delay: 13.3s;
  margin-bottom: 0px;
}

.new-row {
  color: #EEEEEE;
  text-shadow: 0 0 5px #C8C8C8
}

.socials {
  visibility: hidden;
  animation: type 3s 10s steps(21), blink 800ms 10s infinite , stopBlink 1s infinite 13.3s;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.8rem solid #EEEEEE;
}

.clr1 {
  color: #00adb5;
  text-shadow: 0 0 5px #00adb5;
}

.clr2 {
  color: #addfe4;
  text-shadow: 0 0 5px #66c2c7;
}

.info {
  display: inline-flex;
  list-style: none;
  width: 100%;
  float: left;
  clear: none;
  align-items: flex-start;
}

.info > p {
  display: inline;
  margin-top: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 4px 3px 8px 1px rgb(31, 31, 31);
  	-webkit-box-shadow: 4px 3px 8px 1px rgb(31, 31, 31);
  width: 660px;
  height: 360px;
  background-color: #393e46e1;
  backdrop-filter: blur(1px);
}

.toolbar {
  display: inline;
  float: right;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 390px;
  left: 0;
  right: 0;
  margin: auto;
  width: 660px;
  height: 30px;
  box-shadow: 4px 3px 8px 1px rgb(31, 31, 31);
  	-webkit-box-shadow: 4px 3px 8px 1px rgb(31, 31, 31);
  background-color: #22252be1;
  backdrop-filter: blur(1px);
}

.logo {
  width: 200px;
  height: 30px;
  display: inline;
  float: left;
  padding: 0;
  margin: 0;
}

.terminal-logo {
  user-select: none;
  float: left;
  margin: 0;
  margin-right: 11px;
  margin-left: 4px;
  padding: 0;
  font-weight: bold;
  color: #66c2c7;
  text-shadow: 0 0 5px #66c2c7;
}

.terminal-title {
  user-select: none;
  float: left;
  margin: 0;
  margin-right: 4px;
  margin-left: 4px;
  padding: 0;
  padding-top: 6px;
  font-size: 0.9rem;
}

.icons {
  width: 100px;
  height: 30px;
  display: inline;
  float: right;
  padding: 0;
  margin: 0;
}

.x {
  float: right;
  margin: 0;
  margin-right: 4px;
  margin-left: 4px;
  padding: 0;
  padding-top: px
}
._o{
  float: right;
  margin: 0;
  margin-right: 4px;
  margin-left: 4px;
  padding: 0;
}

.x:hover {
  color: #f85a5a;
  text-shadow: 0 0 5px #f85a5ac5;
  cursor: pointer;
}

._o:hover {
  color: #9c9c9c;
  text-shadow: 0 0 5px #9c9c9c;
  cursor: pointer;
}

.txt-type > .txt {
  border-right: 0.8rem solid #EEEEEE;
  animation: blink 800ms infinite normal;
}

.info-root{
  visibility: hidden;
  animation: show 800ms infinite normal;
  animation-delay: 10s;
}

.last-line {
  visibility: hidden;
  border-right: 0.8rem solid #EEEEEE;
  animation: blink 800ms infinite normal;
  animation-delay: 13.5s;
  width: 13ch;
}

@keyframes stopBlink {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blink {
  from {
    visibility: visible;
    border-right-color: rgba(255,255,255 0);
  }
  to {
    border-right-color: transparent;
  }  
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 21ch;
  }
}

@keyframes show {
  from {
    visibility: visible;
  }
  to{
  }
}

@media only screen and (max-width: 680px) {
  body{
    background: linear-gradient(#222831a1, #222831a1), url(assets/img/Background-ph.jpg) no-repeat center center / cover;
    background-size: auto;
  }
}
 